.modalDiv{
   text-align: center;
   
  
}

.navbar-nav{
    margin-left: 150px;
    
}

.nav-link{
    color: white;
}

.cls-btn{
    background-color: white;
    border-radius: 10px;
    color:#00D0B0 ;
    width: 70px;
    margin-left: 150px;
   border: 1px transparent;

}