
.body-div-dashboard{
    height: 900px;
    background-color: white;
}
.dashboard-table{
    margin-top: 30px;
}
.table-div{
    text-align: center;
    margin-left:400px;
    height: auto;
    width: 1200px;
    margin-top: -300px;
    
}

#head-row{
    border-bottom: 1px #03254C solid;
    
}

.table-head{
    
    width: 500px;
    border: 1px #00D0B0 solid;
    color: #221831;
    
}
.table-data{
    border: 1px #00D0B0 solid;
    color: #221831;

}

/* #action-td{
    display: flex;
    flex-direction: row;
    height: 60px;
} */

.btn-form{
    width: 80px;
    margin-top: 10px;
}







.button-add{
    background-color: #00D0B0;
    color: #221831;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 100px;
}


#btn-up{
    background-color: #00c851;
    color: white;
    border: none;
   
    border-radius: 5px;
    text-decoration: none;
    
}
#btn-del{
    background-color: #ff4444;
    color: white;
    border: none;
    margin-left: 10px;
    
    border-radius: 5px;
    text-decoration: none;
}

