
.mainDiv-d{
    margin-top: 100px;
}
.body-div-dashboard{
    min-height: 1000px;
    background-color: #222831;
}
.dashboard-table{
    margin-top: 30px;
}
.table-div{
    text-align: center;
    margin-left: 170px;
    height: auto;
    width: 1200px;
}

#head-row{
    border-bottom: 1px #03254C solid;
    
}

.table-head{
    
    width: 500px;
    border: 1px #00D0B0 solid;
    color: white;
}
.table-data{
    border: 1px #00D0B0 solid;
    color: white;
}




.button-add{
    background-color: #00D0B0;
    color: white;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 100px;
}


#btn-up{
    background-color: #00c851;
    color: white;
    border: none;
    width: 65px;
    border-radius: 5px;
    text-decoration: none;
    
}
#btn-del{
    background-color: #ff4444;
    color: white;
    border: none;
    margin-left: 10px;
    width: 65px;
    border-radius: 5px;
    text-decoration: none;
}

