.bodyRegister{
    background-color: #222831;
    height: 1000px;
}
.title-register{
    margin-top: 40px;
    margin-left: 140px;
    color: #00D0B0;
}

.register-form{
    margin-left: 250px;
}

#already{
    margin-left: 30px;
    margin-top: 30px;
    color: #03254C;
}




@media screen and (min-width:480px) {
   
.main-divRegister{
    padding-top: 180px;
}

.title-register{
    margin-left: 870px;
    
}

#already{
    margin-left: 610px;
}
}
