.body-apply{
    margin: 0;
    padding: 0;
    height: 800px;
}


/*#03254C */

.navbar{
    background-color: #187BCD ;
    color: white;
    margin-top: 0px;
    
}

.nav-div{
    display: flex;
    margin-left: 300px;
    text-align: center;
    height: 70px;
}

.element-nav{
    margin-left: 30px;
}


.title{
    color:#03254C ;
    margin-left: 450px;

}
.cards-div{
    margin-left: 100px;
    margin-top: 100px;
}
.card{
    margin-left: 100px;
    border: 2px solid #03254C ;
    width: 320px;
    height: 150px;
}

.cards-title{
    text-align: center;
    margin-top:20px ;
}

.button-card{
    background-color: #187BCD;
    color: white;
    border: none;
    width: 150px;
    font-weight: bold;
    margin-left:80px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

.button-card:hover{
background-color: #03254C;
}


#home-c{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}

#home-c:hover{
    color: #03254C;
}