.body-dashboard{
    margin: 0;
    padding: 0;
    height: 900px;
    background-color: white;
    font-family: 'Poppins',sans-serif;
}


/*#03254C */

.navbar-dashboard{
    background-color: white ;
    color: #222831;
    margin-top: 0px;
    border-bottom: 2px #2228313b solid;
    font-family: 'Poppins' ,sans-serif;
    
}
#logo{
    width: 150px;
    margin-top: 10px;
   
        
    }
.nav-div{
    display: flex;
    margin-left: 300px;
    text-align: center;
    height: 150px;

}

.element-nav{
    margin-left: 30px;
}


.home-c{
    text-decoration: none;
    color: #222831;
    font-size: 22px;
    font-weight: bold;
    margin-top: 60px;
    width: 30px;
    height: 10px;
    margin-left: 70px;
}

.home-c:hover{
    color: #00D0B0;
}


.left-sidebar{
    height: 100%;
    width: 20%;
    background-color: white;
    border-right: 2px #2228313b solid;
}

.navigations{
    width: 90%;
    height: 80px;
    margin-left: 15px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    

}

.navigations:hover{
    background-color: #222831;
    transition: 0.5s;
}

.contents{
    padding-top: 50px;
}


.title-sidebar{
    color:#00D0B0;
    font-size: 20px;
    padding-top: 30px;
    margin-left: 20px;
    font-weight: bold;
}
.title-sidebar:hover{
    color: #00D0B0;
    cursor: pointer;
}


.img-dash{
    width: 30px;
    height: 30px;
    margin-top: 25px;
    margin-left: 10px;
}

.link-side{
    text-decoration: none;
}
/*#222831*/