
.body-apply{
    height: 1000px;
}

.title-apply{
    margin-top: 80px;
    margin-left: 160px;
}


.apply-form{
    margin-left: 70px;
}
#upload{
    margin-top: 30px;
}

#description-form{
    height: 200px;
}






@media screen and (min-width:480px) {

    .main-divApply{
        padding-top: 100px;
    }
    
    .title-apply{
        margin-left: 690px;
    }

    #file-upload{
        height: 30px;
    }
    #description-form{
        height: 100px;
    }
    
    
}