
.body-apply{
    height: 1000px;
}

.title-apply{
    margin-top: 80px;
    margin-left: 160px;
    
}
#title-apply{
    margin-left: 60px;
}




.apply-form{
    margin-left: 70px;
}
#upload{
    margin-top: 30px;
}

#description-form{
    height: 200px;
}

.select-input{
    padding-top: 20px;
}






@media screen and (min-width:480px) {

    .main-divApply{
        padding-top: 100px;
    }
    
    #title-apply{
        margin-left: 70px;
    }

    #file-upload{
        height: 30px;
    }
    #description-form{
        height: 100px;
    }


    .select-input{
        width: 250px;
        padding-bottom: 20px;
        border-radius: 10px;
        
       
        
    }
    
}