.Job{
  min-height: 1000px;
}

.job-container {
  padding-top: 100px;
  margin: 0 400px;
  /* border: 3px solid black; */
}

.go-back-jobs {
  color: #00D0B0;
  text-decoration: none;

  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.go-back-jobs :hover{
  color: 222831;
}

.job-container-header {
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
}

.job-content {
  display: flex;
  flex-direction: row;
}

.job-description {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.job-description-image {
  width: 100%;
}

.job-description-types {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  width: 95%;
}
.job-description-types-bold {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-top: 10px; */
  width: 98%;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.job-description-detajet {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 130px;
  /* margin-top: 10px; */
  width: 98%;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.types {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #999;
}

.types-bold {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #424242;
}

.types-semi-bold {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #141414;
}

.job-dergo-shpallje {
  flex: 1;
}

.job-pershkrimi {
  display: flex;
  flex-direction: row;
  width: 98%;
  margin-top: 10px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.job-info-shtesë {
  width: 98%;
  margin-top: 10px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.job-pershkrimi-kontakt {
  display: flex;
  flex-direction: row;
  width: 98%;
  margin-top: 10px;
  border-bottom: 1px solid rgb(230, 230, 230);
  gap: 130px;
}

.job-pershkrimi-label {
  flex: 3;
}

.job-pershkrimi-real {
  flex: 5;
}

.info-type {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.job-dergo-shpallje {
  margin-left: 10px;
  border: 1px solid rgb(233, 233, 233);
  height: 75vh;
  width: 100%;
}

.shpallja-punedhenesi {
  display: flex;
  flex-direction: column;
  gap: 2px;
  /* border: 3px solid black; */
  padding-left: 15px;
  padding-top: 20px;
  padding-right: 15px;
}

.shpallja-punedhenesi-p {
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 17px;
  color: #999999;
  margin-bottom: 0 !important;
}

.shpallja-punedhenesi-p-bold {
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  font-family: sans-serif;
  color: #4b4b4b;
}

.shpallja-punedhenesi-p-bold:last-child {
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.shpallja-punekerkuesi {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* border: 3px solid black; */
  padding-left: 15px;
  padding-top: 20px;
  padding-right: 15px;
}

.input-pune-kerkuesi {
  border: 1px solid rgb(172, 168, 168);
}

.input-pune-kerkuesi-textarea {
  border: 1px solid rgb(172, 168, 168);
  width: 94%;
}

.margin-top {
  margin-top: 15px;
}

.shpallje-h3 {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #00D0B0;
}

.shpallje-apliko {
  border: none;
  background-color: #00D0B0;
  color: white;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 0;
  width: 94%;
  margin-top: 10px;
  border-radius: 2px;

  transition: 0.5s all;
}

.shpallje-apliko:hover {
  background-color: #222831;
}
