.body-jobs {
  background-color: #222831;
  max-width: 100%;
  min-height: 1500px;
}
/*
.container-jobs {
  padding: 200px;
  max-width: 100%;
  max-height: 100vh;
  display: flex;
  justify-content: space-between;
  margin: auto 200px;
  height: 100px;
  border-bottom: 3px solid white;
}
.navbar {
  width: 100%;
  height: auto;
}

.jobs-search {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  cursor: pointer;
  margin-left: 100px;
}

.job-div {
  border: 2px solid #00d0b0;
  width: 150px;
  height: 50px;
  margin-left: 50px;
  border-radius: 10px;
  color: #00d0b0;
  text-align: center;
}

#search-logo {
  width: 80px;
  height: auto;
  margin-top: 30px;
}

.job-div:hover {
  background-color: white;
  color: #222831;
  transition: 1s all;
}
.text-card {
  padding-top: 10px;
  text-decoration: none;
  color: #00d0b0;
}

.card-jobs {
  width: 300px;
  height: 400px;
  border: 1px #00d0b0 solid;
  color: white;
  margin-left: 200px;
  margin-top: 200px;
  border-radius: 10px;
}

.card-img-job {
  width: 250px;
  height: auto;
  margin: 10px 25px;
}

.img-div {
  width: 300px;
  height: 200px;
  border-bottom: 1px #00d0b0 solid;
  background-color: grey;
  border-radius: 10px;
}

.btn-job {
  background-color: #00d0b0;
  color: white;
  margin-top: 20px;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 10px;
}
.btn-job:hover {
  background-color: #222831;
  color: #00d0b0;
  border: 1px #00d0b0 solid;
  transition: 0.6s all;
}

.jobCards-div {
  display: flex;
} */

.container-body-content {
  padding-top: 200px;
  margin: 0 400px;
  /* border: 3px solid white; */
}

.container-header-serach-post {
  /* border: 5px solid white; */
  height: 120px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.container-search,
.container-post {
  border: 1px solid white;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.container-header-search-post-link {
  color: white;
  font-size: 28px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.container-header-search-post-link:hover {
  text-decoration: underline;
  color: white;
  cursor: pointer;
}

.search-icon {
  color: white;
  font-size: 28px;
  display: inline-block;
  cursor: pointer;
}

.container-jobs-cards {
  margin-top: 20px;
  /* border: 5px solid white; */
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-job {
  height: 240px;
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.job-img,
.job-details {
  flex: 1;
}

.job-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3;
}

.job-img-style {
  width: 347px;
  height: 185px;
}

.job-details {
  margin-top: 30px;
  flex: 4;
}

.job-details-header {
  color: white;
  font-size: 22px;

  transition: 0.5s all;
}

.job-details-content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.job-details-content-3,
.job-details-content-6 {
  flex: 1;
}

.job-details-pershkrimi {
  color: white;
  font-size: 16px;
}
.link-job-id {
  text-decoration: none;
}
.job-details-header:hover {
  color: #00d0b0;
}

.job-apply {
  padding: 8px 0;
  width: 100px;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 14px;
  background-color: #00d0b0;
  border-radius: 2px;
  text-decoration: none;
  transition: all 0.5s;
}

.job-apply:hover {
  background-color: white;
  color: #00d0b0;
}

.pre-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222831;
}

.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #f3f3f3;
  border-top-color: #00d0b0;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
