
.body{
    background-image: url(../../assets/background-phone.jpg);
    height: 800px;
}



/* css per desktop responsive  */
@media screen and (min-width:480px) {
    .body{
        background-image: url(../../assets/background.jpg);
        height:1000px;
    }

    .mainDiv{
        width: 100%;
        height: 600px;
        padding-top: 300px;

    }
}