
#kerkoj{
    width:320px;
    height: 220px;
    margin-left: 20px;
}
#gjirafa{
    width: 320px;
    height: 80px;
    margin-left: 20px;
}
#linked{
    width: 320px;
    height: 120px;
    margin-left: 20px;
}
#upwork{
    width: 320px;
    height: 120px;
    margin-left: 20px;
}

.images{
    padding-left: 40px;
    margin-top: 70px;
}

#title-footer{
    margin-left: 125px;
    padding-top: 70px;
    color: #187BCD;
}










/* css per desktop responsive  */
@media screen and (min-width:480px) {

    #kerkoj{
        width:320px;
        height: 220px;
        margin-left: 20px;
    }
    #gjirafa{
        width: 320px;
        height: 80px;
        margin-left: 20px;
    }
    #linked{
        width: 320px;
        height: 120px;
        margin-left: 20px;
    }
    #upwork{
        width: 320px;
        height: 120px;
        margin-left: 20px;
    }
    
    .images{
        padding-left: 100px;
    }
    
    #title-footer{
        margin-left: 620px;
        padding-top: 70px;
        color: #187BCD;
    }

}
