
.cards{
    width: 250px;
    height: 300px;
    border: 2px solid #00D0B0;
    margin-top: 70px;
    border-radius: 15px;
    text-align: center;
    color: white;
}

#fullname{
    margin-top: 10px;
    font-weight: bolder;
}

#description{
    font-size: 15px;
}

#cv-button{
    background-color: #00D0B0;
    border-radius: 5px;
    
    
    
}

#cv-link{
    color: white;
    text-decoration: none;
}


#worktype{
    margin-top: 10px;
}








@media screen and (min-width:480px) {

.cards{
    margin-left: 180px;

}

#cv-button{
   border: none;
}

.card-div{
    display: flex;
    flex-wrap: wrap;
    
}

}