
#search-bar{
    width: 200px;
    height: 40px;
    background-color: white;
    margin-top: 40px;
    border: 1px solid #03254C ;
    margin-left: 90px;
    border-radius: 15px;
    
}

#search-btn{
    width: 60px;
    height: 30px;
    background-color: #03254C;
    margin-left: 10px;
    font-size: 12px;
    color: white;
    text-align: center;
    border-radius: 10px;
    
}

.search-div{
    display: inline;

}




@media screen and (min-width:480px) {


    .search-div{
        margin-top: 400px;
    }
   
    #search-bar{
        margin-top: 200px;
        margin-left: 500px;
        width: 500px;
    }

    #search-btn{
        width: 100px;
        height: 40px;
        font-size: 18px;
    }

    #search-btn:hover{
        background-color: #187BCD;
        border: none;
    }

    .cards-div{
        display: flex;

    }

    
}