@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.navbar {
  background-color: #222831;
  border-bottom: 2px white solid;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  position: fixed;
  width: 100%;
  margin-top: 18px;
  background-color: transparent;
}

#logo {
  width: 120px;
  margin-top: 10px;
}

.logo-div {
  margin-top: 5px;
  margin-left: 10px;
}

.nav-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  gap: 500px;
}

.login-icon {
  font-size: 20px !important;
  cursor: pointer;
}

.navbar.active {
  background-color: #222831;
}

.navbar-brand:hover {
  color: #00d0b0;
}

.nav-link:hover {
  color: #00d0b0;
}

.nav-link {
  font-size: 18px;
  margin-left: 30px;
}
.navbar-nav {
  margin-top: 20px;
}

.modal-login {
  width: 150px;
  height: 140px;
  background-color: white;
  position: fixed;
  right: 370px;
  top: 58px;
  box-shadow: 0 2px 4px 1px rgba(255, 255, 255, 0.5);
  /* display: none; */
}

.login-opsionet {
  padding: 15px;
}

.login-aplikimet {
  /* color: black; */
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  color: #262626;

  margin-bottom: 8px !important;
}

p.login-aplikimet:nth-child(3) {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.link-login {
  text-decoration: none;
}

p.login-aplikimet:hover {
  background-color: rgb(238, 236, 236);
}
